@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
  }

body {
    background-color: #bebebe;
}

main {
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    background-color: #d3d1d2;
}

.h1div {
    display: flex; 
    justify-content: center;}

.big__div {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}


.card {
    background-color: #E9E9E9;
    width: 30%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
}

